body {
	margin:0;
	min-width: 250px;
}
/*在元素的总宽度和高度中包括填充和边框*/
* {
	box-sizing: border-box;
}
/*从列表中删除外边距和内边距（填充）。*/
ul {
	margin:0;
	padding: 0;
}
/*列表项样式*/
ul li {
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background: #eee;
	font-size: 18px;
	transition: 0.2s;

	/*使项目无法被选取*/
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select: none;
}
/*设置所有奇数列表项有不同的颜色（便携式电脑）*/
ul li:nth-child(odd) {
	background: #f9f9f9;
}
/*点击时，添加一个背景颜色并打出文本。*/
ul li.checked {
	background:#888;
	color: #fff;
	text-decoration: line-through;
}
/*单击时添加一个选择标记*/
ul li.checked::before {
	content: '';
	position: absolute;
	border-color: #fff;
	border-style: solid;
	border-width: 0 2px 2px 0;
	top: 14px;
	left:16px;
	transform: rotate(45deg);
	height: 15px;
	width: 7px;
}
/*关闭键的样式*/
.close {
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 16px 12px 16px;
}
.close:hover {
	background-color: #f44336;
	color: white;
}
/*header样式*/
.header {
	background-color: #f44336;
	padding: 30px 40px;
	color: white;
	text-align: center;
}
/*在header之后清除浮动*/
.header:after {
	content: '';
	display: table;
	clear: both;
}
/*input样式*/
#myInput {
	border:none;
	width: 75%;
	padding: 10px;
	float: left;
	font-size: 16px;
	height: 38px;  /*input 和 button 出现高度不一致的问题，设置同样的高度解决*/
}
/*添加按钮的样式*/
.addBtn {
	padding: 10px;
	width: 25%;
	float: left;
	background: #d9d9d9;
	color: #555;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
	height: 38px;   /*input 和 button 出现高度不一致的问题，设置同样的高度解决*/
}
.addBtn:hover {
	background-color: #bbb;
}































